@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header__container {
  margin-top: 46px;
  margin-left: 160px;
  margin-right: 160px;
  display: flex;
  align-items: center;
}
.header__container-nav {
  margin-left: auto;
  margin-right: 100px;
}
.header__container-nav-ul {
  display: flex;
  align-items: center;
  column-gap: 48px;
  list-style: none;
}
.header__container-nav-ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #ABABAB;
  font-size: 18px;
  position: relative;
}
.header__container-nav-ul li a.active::before {
  content: "";
  width: 80%;
  height: 5px;
  position: absolute;
  top: 30px;
  left: 0%;
  background-color: #DB2A6B;
}

body {
  background-color: #2E2F38;
}

main {
  margin-left: 160px;
  margin-right: 160px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 960px;
  column-gap: 30px;
}
main .main__container_hero {
  margin-top: 150px;
}
main .main__container_hero-h1 {
  font-family: "Merriweather", serif;
  color: white;
  font-size: 80px;
}
main .main__container_hero-p {
  color: #ABABAB;
  font-size: 28px;
  max-width: 75%;
  margin-bottom: 52px;
}
main .main__container__buttons {
  display: flex;
  gap: 32px;
  align-items: center;
}
main .main__container__buttons-left a {
  padding: 16px 69px;
  background-color: #DB2A6B;
  text-decoration: none;
  color: white;
  border-radius: 10px 10px 10px 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
main .main__container__buttons-left a:hover {
  transform: scale(1.2);
}
main .main__container__buttons-left a:active {
  box-shadow: -7px 10px 26px -8px rgba(13, 11, 12, 0.75);
  background-color: #DB2A6B;
  color: white;
}
main .main__container__buttons-right {
  display: flex;
  align-items: center;
  gap: 6px;
}
main .main__container__buttons-right a {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
main .main__container__items {
  margin-top: 144px;
  display: flex;
}
main .main__container__items-article {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-right: 68px;
}
main .main__container__items-article-img {
  background-color: #454751;
  border-radius: 16px;
  min-width: 64px;
  min-height: 64px;
  display: grid;
  place-items: center;
}
main .main__container__items-article-p {
  display: grid;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 25px;
}
main .main__container_imgs {
  display: inline-flex;
  gap: 32px;
}
main .main__container_imgs-grid1 {
  display: grid;
  row-gap: 32px;
  align-content: center;
}
main .main__container_imgs-grid1 .main__container_imgs-black {
  background-color: #6E1FED;
  border-radius: 90px;
  width: 240px;
  height: 509px;
  background-image: url("../img/hero-black.png");
  background-repeat: no-repeat;
  background-size: 1050px;
  background-position: -390px 10px;
  transition: all 1s;
}
main .main__container_imgs-grid1 .main__container_imgs-black:hover {
  border-radius: 40px;
  transition: all 1.5s;
  background-position: -390px -10px;
}
main .main__container_imgs-grid1 .main__container_imgs-redhair {
  background-color: #DB2A6B;
  width: 240px;
  height: 240px;
  border-radius: 90px;
  background-image: url("../img/hero-redhair.png");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: -270px -280px;
  transition: all 1s;
}
main .main__container_imgs-grid1 .main__container_imgs-redhair:hover {
  border-radius: 40px;
  transition: all 1.5s;
  background-position: -270px -300px;
}
main .main__container_imgs-grid2 {
  display: grid;
  row-gap: 32px;
  align-content: center;
}
main .main__container_imgs-grid2 .main__container_imgs-asian {
  background-color: #60D3D9;
  width: 240px;
  height: 240px;
  border-radius: 90px;
  background-image: url("../img/hero-asian.png");
  background-repeat: no-repeat;
  background-size: 780px;
  background-position: -270px -10px;
  transition: all 1s;
}
main .main__container_imgs-grid2 .main__container_imgs-asian:hover {
  border-radius: 40px;
  transition: all 1.5s;
  background-position: -270px -25px;
}
main .main__container_imgs-grid2 .main__container_imgs-glasses {
  background-color: #FF7E29;
  border-radius: 90px;
  width: 240px;
  height: 509px;
  background-image: url("../img/hero-glasses.png");
  background-repeat: no-repeat;
  background-size: 900px;
  background-position: -320px 10px;
  transition: all 1s;
}
main .main__container_imgs-grid2 .main__container_imgs-glasses:hover {
  border-radius: 40px;
  transition: all 1.5s;
  background-position: -320px -20px;
}
main .main__container_imgs-grid3 {
  display: grid;
  align-content: center;
}
main .main__container_imgs-grid3 .main__container_imgs-happy-black {
  background-color: #F4B840;
  border-radius: 90px;
  width: 240px;
  height: 509px;
  background-image: url("../img/hero-happy-black.png");
  background-repeat: no-repeat;
  background-size: 790px;
  background-position: -380px -60px;
  transition: all 1s;
}
main .main__container_imgs-grid3 .main__container_imgs-happy-black:hover {
  border-radius: 40px;
  transition: all 1.5s;
  background-position: -380px -80px;
}/*# sourceMappingURL=style.css.map */