main {
    margin-top: 157px;
    margin-left: 160px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 960px;


    .main__container_hero {


        &-h1 {
            font-family: $second-font;
            color: white;
            font-size: 80px;
        }

        &-p {
            color: $grey;
            font-size: 24px;
        }
    }

    .main__container_imgs {
        display: inline-flex;
        gap: 32px;

        &-grid1 {
            display: grid;
            row-gap: 32px;
            align-content: center;

            .main__container_imgs-black {
                background-color: #6E1FED;
                border-radius: 90px;
                width: 240px;
                height: 509px;

                background-image: url("../img/hero-black.png");
                background-repeat: no-repeat;
                background-size: 1050px;
                background-position: -390px 10px;
                transition: all 1s;

                &:hover {
                    border-radius: 40px;
                    transition: all 1.5s;
                }
            }

            .main__container_imgs-redhair {
                background-color: #DB2A6B;
                width: 240px;
                height: 240px;
                border-radius: 90px;
                // rotate: 90deg;  

                background-image: url("../img/hero-redhair.png");
                background-repeat: no-repeat;
                background-repeat: no-repeat;
                background-size: 800px;
                background-position: -270px -300px;
                transition: all 1s;


                &:hover {
                    border-radius: 40px;
                    transition: all 1.5s;
                }

            }
        }

        &-grid2 {
            display: grid;
            row-gap: 32px;
            align-content: center;

            .main__container_imgs-asian {
                background-color: #60D3D9;
                width: 240px;
                height: 240px;
                border-radius: 90px;
                // rotate: 90deg;  

                background-image: url("../img/hero-asian.png");
                background-repeat: no-repeat;
                background-size: 780px;
                background-position: -270px -20px;
                transition: all 1s;

                &:hover {
                    border-radius: 40px;
                    transition: all 1.5s;
                }
            }

            .main__container_imgs-glasses {
                background-color: #FF7E29;
                border-radius: 90px;
                width: 240px;
                height: 509px;

                background-image: url("../img/hero-glasses.png");
                background-repeat: no-repeat;
                background-size: 900px;
                background-position: -320px 10px;

                transition: all 1s;


                &:hover {
                    border-radius: 40px;
                    transition: all 1.5s;
                }

            }
        }

        &-grid3 {

            display: grid;
            align-content: center;

            .main__container_imgs-happy-black {
                background-color: #F4B840;
                border-radius: 90px;
                width: 240px;
                height: 509px;

                background-image: url("../img/hero-happy-black.png");
                background-repeat: no-repeat;
                background-size: 790px;
                background-position: -380px -79px;
                transition: all 1s;

                &:hover {
                    border-radius: 40px;
                    transition: all 1.5s;
                }

            }

        }
    }

}