main {
    margin-top: 157px;
    margin-left: 160px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 960px;


    .main__container_hero {


        &-h1 {
            font-family: $second-font;
            color: white;
            font-size: 80px;
        }

        &-p {
            color: $grey;
            font-size: 24px;
        }
    }

    .main__container_imgs {
        display: grid;
        grid-template-columns: repeat(2, 204px);
        // grid-template-rows: repeat(3, 1fr);
        // grid-auto-columns: 204px;
        column-gap: 32px;

        &-black {
            background-color: #6E1FED;
            border-radius: 90px;
            max-width: 204px;
            max-height: 509px;

            background-image: url("../img/hero-black.png");
            background-repeat: no-repeat;
            background-size: 900px;
            background-position: -340px 10px;
            transition: all 1s;

            grid-column-start: 1;
            grid-column-end: 2;

            grid-row-start: 1;
            grid-row-end: 3;


            &:hover {
                border-radius: 40px;
                transition: all 1.5s;
            }
        }

        &-asian {
            background-color: #60D3D9;
            max-width: 240px;
            max-height: 240px;
            border-radius: 90px;
            // rotate: 90deg;

            background-image: url("../img/hero-asian.png");
            background-repeat: no-repeat;
            background-size: 700px;
            background-position: -250px -20px;
            transition: all 1s;

            // grid-column-start: 2;
            // grid-column-end: 3;


            // grid-row-start: 1;
            // grid-row-end: 3;

            &:hover {
                border-radius: 40px;
                transition: all 1.5s;
            }

        }

        &-redhair {
            background-color: #DB2A6B;
            max-width: 240px;
            max-height: 240px;
            border-radius: 90px;
            // rotate: 90deg;

            background-image: url("../img/hero-redhair.png");
            background-repeat: no-repeat;
            background-repeat: no-repeat;
            background-size: 800px;
            background-position: -280px -290px;
            transition: all 1s;

            grid-column-start: 1;
            grid-column-end: 2;


            grid-row-start: 3;
            grid-row-end: 4;

            &:hover {
                border-radius: 40px;
                transition: all 1.5s;
            }

        }

        &-glasses {
            background-color: #FF7E29;
            border-radius: 90px;
            max-width: 204px;
            max-height: 509px;

            background-image: url("../img/hero-glasses.png");
            background-repeat: no-repeat;
            background-size: 900px;
            background-position: -340px 10px;
            transition: all 1s;

            grid-column-start: 2;
            grid-column-end: 3;


            grid-row-start: 2;
            grid-row-end: 4;

            &:hover {
                border-radius: 40px;
                transition: all 1.5s;
            }
        }
    }



}